
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
  
.titulo {
  font-size: 2em;
  color: #ffffff;
  margin: 5px 0 10px 0;
  z-index: 2;
}
  
.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  
.inputCampos {
  width: 15em;
  height: 3em;
  stroke-width: 1px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(255, 183, 0, 0.60);
  border-radius: 8%;
  border: transparent;
  margin: 10px 0;
  padding-left: 2em;
  padding-right: 1em;
  color: #ffffff;
}
  
.inputContainer:hover {
  position: relative;
  top: -2px;
  border-bottom: 2px transparent;
  color: #ffffff;
}

.inputCampos::placeholder {
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
}
  
.button {
  z-index: 2;
  width: 10em;
  border: none;
  border-radius: 10%;
  background-color: rgba(255, 183, 0, 0.60);
  height: 30px;
  color: rgb(0, 0, 0);
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}
  
.button:hover {
  color: aliceblue;
  background-color: #874EAD;
}
  
.forgotLink {
  z-index: 2;
  font-size: .7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}

.icon_perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(255, 183, 0, 0.60);
  width: 10em;
  height: 10em;
  flex-shrink: 0;
  border-radius: 50%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.img {
  width: 8em;
  height: 8em;
}

.link {
  color: #ffffff;
}

