body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffb700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 2%;
    margin-top: 2%;
    padding: 2%;
    border: 1px solid #ffb700;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: #181818;
}

.titulo {
    color: white;
}

.forms {
    margin-top: 20px;
}

.info {
    background-color: #252525;
    color: white;
    width: 100%;
    padding: 10px;
    border: 2px solid #5d1d88;
    border-radius: 30px;
    margin: 5px 0;
}

.link a {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-decoration: none;
    color: #ffb700;
}

.link a:hover {
    font-weight: 600;
    color: white;
}

.button {
    color: #5d1d88;
    border: 2px solid #5d1d88;
    border-radius: 30px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    text-decoration: none;
}

.button:hover {
    color: #ffffff;
    background-color: #5d1d88;
}

 /* BOTÕES FIXOS */
 .botaoCarrinho a img{
    width: 43px;
    height: 43px;
    position: fixed;
    right: 10px;
    bottom: 70px;
}

.voltaTopo a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 11px;
    bottom: 20px;
}

.botaoHome a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 61px;
    bottom: 21px;
}

