body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffb700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
    color: #ffb700;
    font-weight: 600;
    margin-bottom: 2%;
}

.add {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.add a img {
    width: 60px;
    height: 60px;
}

table, td, th{
    border: 2px #5d1d88 solid;
    border-collapse: collapse;
    padding: 10px;
}

table tr td{
    align-items: center;
}
    
table tr a img {
    width: 30px;
    height: 30px;
}

 /* BOTÕES FIXOS */
 .botaoCarrinho a img{
    width: 43px;
    height: 43px;
    position: fixed;
    right: 10px;
    bottom: 70px;
}

.voltaTopo a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 11px;
    bottom: 20px;
    transform: rotate(-90deg);
}

.botaoHome a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 61px;
    bottom: 21px;
}