body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 2%;
    margin-top: 2%;
    padding: 2%;
    border: 1px solid #ffb700;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 900px;
    background-color: #181818;
}

@media(max-width: 768px) 
{
 header   {
    font-size: 24px;
 }
 main{
    font-size: 16px;
 }
}

.titulo {
    color: white;
}

.imagem {
    margin-top: 20px;
}

.imagem img {
    width: 250px;
    height: 250px;
}

.forms {
    margin-top: 20px;
}

.info {
    width: 100%;
    padding: 10px;
    border: 2px solid #5d1d88;
    border-radius: 30px;
    margin: 5px 0;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botao-voltar {
    background-image: url('/more_stickers/imgs/icone_AMARELA.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.botao-avancar {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-image: url('/more_stickers/imgs/icone_VERDE.png');
    background-size: cover;
    background-color: transparent;
}

 /* BOTÕES FIXOS */
 .botaoCarrinho a img{
    width: 43px;
    height: 43px;
    position: fixed;
    right: 10px;
    bottom: 70px;
}

.voltaTopo a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 11px;
    bottom: 20px;
    transform: rotate(-90deg);
}

.botaoHome a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 61px;
    bottom: 21px;
}