body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    border: 1px solid #ffb700; 
    border-radius: 10px;
    box-shadow: inset 1px -1px 21px -11px rgba(255, 255, 255, 1);
    padding: 2%; 
    box-sizing: border-box; 
}

/* Deixa a tela responsiva */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .titulo {
        font-size: 24px;
    }

    .saudacao {
        font-size: 16px;
    }

    .info {
        width: 90%; 
        padding: 2%; 
        border-radius: 10px; 
    }
    .infoPagamento, .escolha-botao {
        font-size: 14px;
    }
    .botoes {
        flex-direction: column; /* Altere a direção dos botões em telas menores. */
        align-items: center; /* Centralize os botões na vertical. */
        margin-top: 10px; /* Reduza o espaço superior dos botões. */
    }
    .radioButton + label::before {
        width: 8px; /* Reduza o tamanho das bolinhas dos radio buttons. */
        height: 8px;
    }
}

.titulo {
    color: white;
}

.saudacao {
    color: white;
}

.form {
    margin-top: 20px;
}

.info {
    width: 100%;
    padding: 2%; /* Adicione um espaço de padding dentro dos elementos .info */
    border: 2px solid #5d1d88;
    margin: 5px 0;
    box-sizing: border-box; /* Para incluir o espaço de padding nas dimensões dos elementos .info. */
    background-color: #fff; /* Adicione um fundo para destacar os elementos .info. */
}

.observacao {
    width: 100%;
    padding: 2%; /* Adicione um espaço de padding dentro dos elementos .observacao */
    border: 2px solid #5d1d88;
    border-radius: 10px;
    margin: 5px 0;
    box-sizing: border-box; /* Para incluir o espaço de padding nas dimensões dos elementos .observacao. */
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#bAvancar input[type="submit"] {
    background-image: url('/more_stickers/imgs/icone_VERDE.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

#bVoltar {
    background-image: url('/more_stickers/imgs/icone_AMARELA.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.infoPagamento {
    color: white;
}

.escolha-botao {
    color: white;
}

.radioButton:checked + label::before {
    background-color: #ffb700;
    border: 2px solid #ffb700;
}

.radioButton {
    opacity: 0;
    position: absolute;
}

.radioButton + label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #ffb700;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: -1px;
}

 /* BOTÕES FIXOS */
 .botaoCarrinho a img{
    width: 43px;
    height: 43px;
    position: fixed;
    right: 10px;
    bottom: 70px;
}

.voltaTopo a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 11px;
    bottom: 20px;
}

.botaoHome a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 61px;
    bottom: 21px;
}
