* {
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.barra {
  display: flex;
  flex-direction: column;
  background: #000000;
  min-height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background: #ffb700;
}

header .barraNavegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2em;
}

header .barraNavegacao #logo{
    background-color: #000000;
}

header .barraNavegacao nav {
  display: flex;
  list-style-type: none;
}

header .barraNavegacao h2 {
  color: #fff;
}

header .barraNavegacao nav li a {
  color: #000000;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
  margin: 25px;
}

header .barraNavegacao nav li a:hover {
  color: #5d1d88;
  margin: 15px;
}

header .barraNavegacao .barraPesquisa input {
  background: #ffffff;
  border: 2px solid #5d1d88;
  padding: 7px 10px;
  border-radius: 50px;
  width: 200px;
  outline: 0;
  color: #000000;
}

header .barraNavegacao .barraPesquisa input::placeholder {
  color: #999;
}

header .barraNavegacao .barraPesquisa {
  display: flex;
}

header .barraNavegacao .barraPesquisa button {
  background: #ffffff;
  color: #5d1d88;
  border: 2px solid #5d1d88;
  border-radius: 50px;
  padding: 7px 15px;
  margin-left: 10px;
  cursor: pointer;
  outline: 0;
  font-weight: 700;
  transition: 0.3s;
}

header .barraNavegacao .barraPesquisa button:hover {
    background-color: #5d1d88;
    color: #fff;
}

header .barraNavegacao .imagensBarra img{
    margin: 10px;
    align-items: center;
    width: 45px;
    height: 45px;
}

header .barraNavegacao .imagensBarra #sair{
    margin: 10px;
    align-items: center;
    width: 40px;
    height: 40px;
}



@media (max-width: 768px) {
  header .barraNavegacao .barraPesquisa {
    display: none;
  }
  
  header .barraNavegacao nav {
    display: none;
  }
  
   header .barraNavegacao .mobile-menu {
    display: block;
  }
}