body {
    background-color: black;
    margin: 0;
    margin-bottom: 1000px;
}

/* BANNER */
.bannerHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* DIVISORIA  */
.divisoria {
    height: 4em;
    max-width: 100%;
    background-color: #5d1d88;
    margin: 0;
}

.lin {
    margin-top: auto;
    height: 1em;
    max-width: 100%;
    background-color: #5d1d88;
    margin: 0;
}

/* TIPOS/CATEGORIAS*/
.categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
}
.categorias a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 7%;
    text-align: center;
}

.categorias a border {
    width: 30px;
}

/* BOTÕES FIXOS */
.botaoCarrinho a img{
    width: 43px;
    height: 43px;
    position: fixed;
    right: 10px;
    bottom: 70px;
}

.voltaTopo a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 11px;
    bottom: 20px;
    transform: rotate(-90deg);
}

.botaoHome a img{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 61px;
    bottom: 21px;
}
