body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1500px;
}

.container {
    margin: 2%;
    margin-top: 2%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: #181818;
    border: 1px solid #ffb700;
    border-radius: 10px;
    /* SOMBRAS */
    box-shadow: -1px 2px 12px -2px #ffb700;
    -webkit-box-shadow: -1px 2px 12px -2px #ffb700;
    -moz-box-shadow: -1px 2px 12px -2px #ffb700;
}

.titulo {
    color: white;
}

@media(max-width: 768px) 
{
 header   {
    font-size: 24px;
 }
 main{
    font-size: 16px;
 }
}


.form {
    margin-top: 20px;
}

.label{
    color: white;
}
.info {
    width: 100%;
    padding: 10px;
    border: 2px solid #5d1d88;
    border-radius: 30px;
    margin: 5px 0;
}

.observacao {
    width: 100%;
    padding: 10px;
    border: 2px solid #5d1d88;
    border-radius: 10px;
    margin: 5px 0;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#bAvancar input[type="submit"] {
    background-image: url('/more_stickers/imgs/icone_VERDE.png');
    background-size: cover;
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o preenchimento interno */
    cursor: pointer;
    background-color: transparent; /* Define o fundo como transparente para remover qualquer cor de fundo padrão */
  }
#bVoltar{
    background-image: url('/more_stickers/imgs/icone_AMARELA.png');
    background-size: cover;
    width: 50px; 
    height: 50px; 
    border: none; 
    padding: 0; 
    cursor: pointer;
    background-color: transparent; 
}
#volta_tudo{
    background-image: url('/more_stickers/imgs/volta_tudo.png');
    background-size: cover;
    width: 50px; 
    height: 50px; 
    border: none; 
    padding: 0; 
    cursor: pointer;
    background-color: transparent; 
}

.infoPagamento {
    color: white;
}

.escolha-botao {
    color: white;
}

/* Defina a cor personalizada para as bolinhas dos radio buttons */
.radioButton:checked + label::before {
    background-color: #ffb700;
    border: 2px solid #ffb700;
}

/* Use opacity para ocultar as bolinhas padrão dos radio buttons */
.radioButton {
    opacity: 0;
    position: absolute;
}

/* Estilize a bolinha dos radio buttons */
.radioButton + label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #ffb700; /* Cor padrão da borda da bolinha */
    border-radius: 50%; /* Tornar a bolinha circular */
    margin-right: 5px;
    margin-left: 10px; /* Espaçamento entre a bolinha e o texto */
    margin-bottom: -1px;
}
